.myPic {
  width: 128px;
  height: 128px;
}

.page {
  max-width: 1000px;
  padding-top: 20px;
  text-align: justify;
}

.page p {
  font-size: 20px;
}

.page a {
  color: #d46d0b;
  margin-right: 40px;
  font-size: 24px;
}

.page a:hover {
  color: #ffa958;
}

.author {
  width: 250px; 
  height: 250px;
  float: left;
  margin: 0px 20px 20px 20px;
  border: 10px solid #352215;
}

.authorText {
  margin-bottom: 60px;
}