.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.helpTitle {
  font-size: 32px;
}

.faq {
  padding-top: 20px;
  max-width: 1000px;
}

.faqTitle {
  border-bottom: 1px solid #352215;
  padding-bottom: 15px;
  font-size: 32px;
}

.Q {
  font-size: 24px;
}

.A {
  border-bottom: 1px solid #352215;
  padding-bottom: 10px;
}

#contactFormBtn {
  max-width: 1000px;
  background-color: #d46d0b;
}

#contactForm {
  max-width: 1000px;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submitContactForm {
  background-color: #d46d0b;
}